.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #101633;
}
.nav a{
    text-decoration: none;
    text-transform: uppercase;
     color: white;
}
.home-text{
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -1350%);
   font-weight: bolder;
   font-size: 20px;
   color:black;
}
.container-fluid{
    text-align: center;
    margin-bottom: 20px;
}